/*------------------------------------------------------------------
Project:    Kamesh Personal Portfolio
Version:    1.0
Primary use:    pxdraft

[Table of contents]

1. Body
2. Header
3. Footer
4. Blog
5. Section
6. Home Banner
7. About
8. Services
9. Portfolio
10. Testimonial
11. Contact Us

-------------------------------------------------------------------*/
@import url(../vendor/bootstrap/css/bootstrap.min.css);
@import url(../vendor/bootstrap/icons/bootstrap-icons.css);
@import url(../vendor/owl-carousel/css/owl.carousel.min.css);
@import url(../vendor/magnific/magnific-popup.css);
@import url(../vendor/font-awesome/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: transparent; }
  .fixed-header .main-header {
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(18, 21, 25, 0.075); }
  .main-header .logo-dark {
    display: none; }
    .fixed-header .main-header .logo-dark {
      display: block; }
  .fixed-header .main-header .logo-light {
    display: none; }
  .main-header .navbar {
    padding: 15px 0; }
  .main-header .navbar-nav > li {
    padding: 0 10px; }
    @media (max-width: 991px) {
      .main-header .navbar-nav > li + li {
        border-top: 1px solid rgba(18, 21, 25, 0.1); } }
    .main-header .navbar-nav > li > .nav-link {
      padding: 0 5px;
      line-height: 35px;
      font-weight: 600;
      font-size: 15px;
      color: #121519;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media (min-width: 992px) {
        .main-header .navbar-nav > li > .nav-link {
          color: #fff; }
          .fixed-header .main-header .navbar-nav > li > .nav-link {
            color: #121519; } }
      @media (max-width: 991px) {
        .main-header .navbar-nav > li > .nav-link {
          line-height: 50px; } }
      .main-header .navbar-nav > li > .nav-link:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        width: 0;
        height: 2px;
        background: #37715D;
        transition: ease all 0.35s; }
        @media (max-width: 991px) {
          .main-header .navbar-nav > li > .nav-link:after {
            display: none; } }
      .main-header .navbar-nav > li > .nav-link:hover:after, .main-header .navbar-nav > li > .nav-link.active:after {
        left: 0;
        right: auto;
        width: 100%; }

@media (max-width: 991px) {
  .main-header .navbar-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border: none;
    padding: 4px 9px;
    outline: none;
    box-shadow: none; }
    .main-header .navbar-toggler span {
      width: 25px;
      height: 2px;
      background: #fff;
      margin: 4px 0; }
      .fixed-header .main-header .navbar-toggler span {
        background: #121519; }
  .main-header .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    right: 0px; }
  .main-header .navbar-nav > li {
    padding: 0; }
    .main-header .navbar-nav > li > .nav-link {
      padding: 0 10px; }
      .main-header .navbar-nav > li > .nav-link.active {
        background: #F5F6F9; } }

.footer {
  background-color: #121519;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.85rem; }
  .footer .nav a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75); }
    .footer .nav a:hover {
      color: #37715D; }
    .footer .nav a + a {
      margin-left: 18px; }

.px-btn {
  padding: 12px 25px;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 600;
  transition: ease all 0.35s;
  display: inline-block;
  border-radius: 10px;
  border: none; }
  .px-btn i {
    padding-left: 8px; }
  .px-btn.px-btn-theme {
    background: #37715D;
    border-color: #37715D;
    color: #fff; }
    .px-btn.px-btn-theme:hover {
      background: #264f41;
      border-color: #264f41; }
  .px-btn.px-btn-theme2 {
    background: #FEC448;
    border-color: #FEC448;
    color: #121519; }
    .px-btn.px-btn-theme2:hover {
      background: #37715D;
      border-color: #37715D; }
  .px-btn.px-btn-dark {
    background: #121519;
    border-color: #121519;
    color: #fff; }
    .px-btn.px-btn-dark:hover {
      background: #37715D;
      border-color: #37715D; }

.video-btn {
  position: relative;
  width: 5rem;
  height: 5rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  transition: ease all 0.55s;
  z-index: 2;
  border: none;
  background: #121519;
  color: #fff;
  border: 4px solid #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(18, 21, 25, 0.08); }
  .video-btn:hover {
    color: #fff; }
  .video-btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite;
    pointer-events: none;
    z-index: -1;
    background: #121519; }
  .video-btn span {
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1.25rem solid currentcolor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px; }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

.bg-gray {
  background-color: #F5F6F9; }

.bg-dark {
  background-color: #121519 !important; }

.bg-yellow {
  background-color: #FDDA5F; }

.bg-1 {
  background-color: #FAEBC4; }

.bg-2 {
  background-color: #B6BEED; }

.bg-3 {
  background-color: #FFA352; }

.bg-4 {
  background-color: #BFE4D2; }

.bg-5 {
  background-color: #FDDA5F; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: #2D3436;
  overflow-x: hidden; }

img {
  max-width: 100%; }

* {
  outline: none !important; }

a {
  color: #37715D;
  text-decoration: none; }
  a:hover {
    color: #2a5646;
    text-decoration: none; }

/* ----------------------
*   Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #37715D;
  z-index: 99999; }

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px; }
  .load-circle span {
    display: inline-block;
    width: 64px;
    height: 64px; }
    .load-circle span:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid #fff;
      border-color: #fff transparent #fff transparent;
      -webkit-animation: lds-dual-ring 1.2s linear infinite;
              animation: lds-dual-ring 1.2s linear infinite; }

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* ----------------------
*   owl 
---------------------------*/
.owl-dots {
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #121519;
    transition: ease all 0.55s;
    border-radius: 50%;
    margin: 0 4px; }
    .owl-dots .owl-dot.active {
      background: #121519; }

.owl-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none; }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    background: #37715D;
    color: #fff;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border-radius: 50%;
    pointer-events: auto;
    transition: ease all 0.35s; }
    .owl-nav .owl-next:hover,
    .owl-nav .owl-prev:hover {
      background: #FEC448;
      color: #fff; }
  .owl-nav .owl-next {
    right: 0px; }
    @media (min-width: 1201px) {
      .owl-nav .owl-next {
        right: -50px; } }
  .owl-nav .owl-prev {
    left: 0px; }
    @media (min-width: 1201px) {
      .owl-nav .owl-prev {
        left: -50px; } }

.owl-carousel.eq-height .owl-stage {
  display: -ms-flexbox;
  display: flex; }
  .owl-carousel.eq-height .owl-stage .owl-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%; }

main {
  position: relative;
  z-index: 1; }

.section-heading {
  padding-bottom: 60px; }
  @media (max-width: 991px) {
    .section-heading {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .section-heading {
      padding-bottom: 30px; } }
  .section-heading h6 {
    font-size: 15px;
    color: #37715D;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .section-heading h3 {
    font-size: 35px;
    margin: 0;
    color: #121519;
    font-weight: 700;
    text-transform: uppercase; }
    .section-heading h3 span {
      color: #FEC448; }
    @media (max-width: 992px) {
      .section-heading h3 {
        font-size: 30px; } }
    @media (max-width: 767px) {
      .section-heading h3 {
        font-size: 25px; } }
  .section-heading .text {
    margin: 20px 0 0;
    position: relative;
    padding-left: 50px; }
    .section-heading .text:after {
      content: "";
      position: absolute;
      top: 10px;
      width: 30px;
      height: 2px;
      background: #121519;
      left: 0; }

.title-01 {
  padding-bottom: 35px; }
  .title-01 h5 {
    font-weight: 700;
    color: #121519;
    font-size: 36px;
    margin: 0; }

/* Section
---------------------*/
.section {
  padding: 130px 0;
  position: relative; }
  @media (max-width: 991px) {
    .section {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (max-width: 767px) {
    .section {
      padding-top: 60px;
      padding-bottom: 60px; } }

/* Bg Effects
---------------------*/
.effect-section {
  position: relative;
  overflow: hidden; }
  .effect-section .ef-1 {
    position: absolute;
    left: 0;
    bottom: 0; }
  .effect-section .ef-2 {
    position: absolute;
    right: 0;
    bottom: 0; }

/* Home 
---------------------*/
@media (max-width: 991px) {
  .home-section .home-intro {
    padding-top: 100px; } }

.home-section h6 {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff; }
  @media (max-width: 767px) {
    .home-section h6 {
      margin: 0 0 15px;
      font-size: 14px; } }
  .home-section h6 span {
    color: #FEC448; }

.home-section h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0 0 15px; }
  @media (max-width: 767px) {
    .home-section h1 {
      font-size: 32px; } }
  .home-section h1 .ti-container {
    color: #FEC448; }

.home-section p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.88);
  max-width: 450px; }

.home-section .btn-bar {
  padding: 5px 0 20px; }

.home-section .rating {
  color: #fff;
  padding: 0 0 10px; }
  .home-section .rating i {
    color: #FFCC78; }

/* Features
---------------------*/
.feature-box-01 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #fff;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  position: relative; }
  .feature-box-01:after {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .feature-box-01 img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%;
    max-height: 70%; }

.feature-box-02 {
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .feature-box-02 + .feature-box-02 {
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba(18, 21, 25, 0.15); }
    @media (max-width: 991px) {
      .feature-box-02 + .feature-box-02 {
        padding-top: 20px;
        margin-top: 20px; } }
  .feature-box-02 .text {
    padding-right: 25px; }
  .feature-box-02 h6 {
    font-size: 25px;
    text-transform: uppercase;
    color: #121519;
    margin-bottom: 15px;
    font-weight: 700; }
    @media (max-width: 991px) {
      .feature-box-02 h6 {
        font-size: 18px; } }
  .feature-box-02 p {
    margin: 0;
    font-size: 15px; }
  .feature-box-02 .icon {
    white-space: nowrap; }
    .feature-box-02 .icon a {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: end;
          align-items: flex-end;
      color: #121519;
      height: 100%; }
      .feature-box-02 .icon a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .feature-box-02 .icon a:hover i:before {
        content: "\f140"; }
    .feature-box-02 .icon i {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px; }
    .feature-box-02 .icon span {
      font-weight: 500;
      margin-top: auto;
      font-size: 13px; }

/* Counter
---------------------*/
.counter-box {
  padding: 15px;
  border-radius: 10px;
  text-align: center; }
  .counter-box .h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
    color: #121519;
    display: inline-block;
    vertical-align: top;
    line-height: 1; }
    @media (max-width: 991px) {
      .counter-box .h1 {
        font-size: 28px; } }
  .counter-box h6 {
    font-weight: 500;
    font-size: 14px;
    color: #121519;
    margin: 0; }
    @media (max-width: 991px) {
      .counter-box h6 {
        font-size: 12px; } }
  .counter-box .after-pluse:after {
    content: "+"; }

/* services
---------------------*/
.services-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%; }
  .services-left .section-heading {
    padding-bottom: 30px; }

/* Work Experiance & Skill
---------------------*/
.experiance-section {
  color: rgba(255, 255, 255, 0.75); }

.experiance-box {
  font-size: 14px; }
  .experiance-box ul {
    margin: 0;
    padding: 0;
    position: relative; }
    .experiance-box ul:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #FEC448;
      left: 160px; }
  .experiance-box li {
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px; }
    .experiance-box li + li {
      padding-top: 50px; }
    .experiance-box li span {
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
      max-width: 160px;
      position: relative;
      padding-right: 20px;
      text-transform: capitalize; }
      .experiance-box li span:after {
        content: "";
        position: absolute;
        top: 0;
        right: -11px;
        background: #121519;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 4px solid #FEC448;
        z-index: 1; }
    .experiance-box li .text {
      padding-left: 30px; }
    .experiance-box li p {
      margin: 0; }
    .experiance-box li h6 {
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      text-transform: capitalize; }

.list-type-01 {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-type-01 li + li {
    padding-top: 8px; }
  .list-type-01 i {
    color: #FEC448;
    padding-right: 10px; }

/* Work
---------------------*/
.portfolio-box {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: ease all 0.35s; }
  .portfolio-box .portfolio-img {
    overflow: hidden;
    border: 1px solid #121519;
    border-radius: 10px; }
    .portfolio-box .portfolio-img img {
      width: 100%;
      transition: ease all 0.35s;
      -webkit-transform: scale(1);
              transform: scale(1); }
  .portfolio-box .portfolio-text {
    position: relative;
    padding-right: 45px;
    padding-bottom: 25px; }
    .portfolio-box .portfolio-text h6 {
      font-weight: 700;
      color: #121519;
      margin-bottom: 5px;
      font-size: 18px; }
    .portfolio-box .portfolio-text p {
      margin: 0;
      font-size: 13px; }
    .portfolio-box .portfolio-text a {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      font-size: 32px;
      line-height: 1;
      color: #121519; }
      .portfolio-box .portfolio-text a:hover i:before {
        content: "\f140"; }
  .portfolio-box:hover .portfolio-img img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

/* Testimonials
---------------------*/
.testimonials-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 991px) {
    .testimonials-box {
      padding: 30px; } }
  .testimonials-box .t-lead {
    -ms-flex: 0 0 35%;
        flex: 0 0 35%;
    max-width: 35%; }
    .testimonials-box .t-lead img {
      border-radius: 10px;
      width: 100%; }
    @media (max-width: 556px) {
      .testimonials-box .t-lead {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 20px; } }
  .testimonials-box .t-text {
    -ms-flex: 0 0 63%;
        flex: 0 0 63%;
    max-width: 63%;
    margin-left: auto; }
    .testimonials-box .t-text h5 {
      margin: 0 0 20px;
      font-size: 30px;
      font-weight: 600; }
      @media (max-width: 556px) {
        .testimonials-box .t-text h5 {
          font-size: 20px; } }
    @media (max-width: 556px) {
      .testimonials-box .t-text {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%; } }
  .testimonials-box p {
    margin: 0; }
  .testimonials-box .t-avatar {
    margin-top: 15px; }
    .testimonials-box .t-avatar h6 {
      font-size: 15px;
      color: #121519;
      font-weight: 600;
      margin: 0; }
    .testimonials-box .t-avatar span {
      font-size: 12px; }

/* Contact
---------------------*/
.contact-heading {
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 40px;
  border-radius: 20px; }
  .contact-heading:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    top: 11%;
    background: #F5F6F9;
    pointer-events: none;
    border-radius: 20px;
    -webkit-transform: skewY(7deg);
            transform: skewY(7deg); }
  .contact-heading .section-heading {
    padding: 0;
    position: relative;
    z-index: 1; }

.contact-form {
  padding: 40px;
  background: #fff;
  box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
  border-radius: 20px;
  border: 1px solid #F5F6F9; }
  @media (max-width: 767px) {
    .contact-form {
      padding: 20px; } }
  .contact-form .form-control {
    border: 1px solid #CFCFCF;
    padding: 0.775rem .75rem;
    font-size: 15px;
    box-shadow: none; }

.contact-info h3 {
  font-weight: 700;
  font-size: 42px;
  color: #fff; }
  @media (max-width: 991px) {
    .contact-info h3 {
      font-size: 30px; } }

.contact-info ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.contact-info li {
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 35px;
  margin-top: 35px; }
  @media (max-width: 991px) {
    .contact-info li {
      padding-top: 25px;
      margin-top: 25px; } }
  .contact-info li .icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    line-height: 1;
    color: #fff;
    background: #37715D; }
    @media (max-width: 991px) {
      .contact-info li .icon {
        width: 60px;
        height: 60px;
        font-size: 20px; } }
  .contact-info li .text {
    -ms-flex: 1;
        flex: 1;
    padding-left: 18px; }
  .contact-info li label {
    font-weight: 400;
    font-size: 18px;
    color: #fff; }
    @media (max-width: 991px) {
      .contact-info li label {
        font-size: 16px; } }
  .contact-info li p {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    color: #fff; }
    @media (max-width: 991px) {
      .contact-info li p {
        font-size: 18px; } }
  .contact-info li a {
    color: #fff; }

.contact-social {
  padding-bottom: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 35px;
  margin-top: 35px; }
  @media (max-width: 991px) {
    .contact-social {
      padding-top: 25px;
      margin-top: 25px; } }
  .contact-social h5 {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
    margin: 0; }
  .contact-social ul {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .contact-social li + li {
    padding-left: 10px; }
    @media (max-width: 991px) {
      .contact-social li + li {
        padding-left: 8px; } }
  .contact-social a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: ease all 0.35s; }
    @media (max-width: 991px) {
      .contact-social a {
        padding: 6px 18px;
        font-size: 14px; } }
    .contact-social a:hover {
      background: #37715D;
      color: #fff; }

.px-modal {
  max-width: 1300px;
  width: 90%;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  position: relative; }
  .px-modal h3 {
    font-size: 20px;
    font-weight: 600;
    color: #121519; }
  .px-modal h5 {
    font-weight: 600;
    color: #121519; }
  @media (max-width: 991px) {
    .px-modal {
      padding: 20px; } }

.navbar-brand {
  width: 70px;
}

/* .navbar-brand img {
  width: 20%;
} */